.side-group {
	color: #fafafa;
	margin: 12px 0 12px 32px;
}

.side-group h3 {
	padding: 8px 2px;
	border-bottom: 1px solid #fafafa;
}

.contact-info,
.language-details,
.education-details {
	display: flex;
	margin-bottom: 12px;
}
