.period {
	position: relative;
	display: flex;
	flex-direction: row;
	margin-bottom: 4px;
}

.experience .period.start {
	margin-top: 24px;
}

.period .timeline {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 60px;
}

.period .timeline .end,
.period .timeline .start {
	position: absolute;
	border-radius: 4px;
	width: 24px;
	height: 16px;
	content: " ";
	top: 0;
	background-color: #3b3b3d;
}

.period .timeline .end.small {
	border-radius: 4px;
	width: 16px;
}

.period .timeline .start {
	top: 100%;
}

.period .timeline .line {
	position: absolute;
	border-left: 4px solid #3b3b3d;
	height: 100%;
}

.period .timeline .line.break {
	border-left-style: dashed;
}

.period .company {
	width: 160px;
	font-size: 1.2rem;
	font-weight: 500;
	padding: 0 8px;
}

.period .position {
	display: flex;
	flex-direction: column;
}

.period .position .title {
	margin: 0;
	padding: 0;
	margin-bottom: 6px;
	font-size: 1.1rem;
}

.period .position .period {
	margin: 0;
	padding: 0;
	color: #6b6b6b;
	font-size: 1.1rem;
}

.period .position .details {
	font-size: 0.9rem;
}
