.projects .subtitle {
	font-size: 1rem;
	margin-bottom: 4px;
}

.projects .details {
	font-size: 0.9rem;
	margin-right: 12px;
}

.projects .technologies {
	font-size: 0.9rem;
	color: #6b6b6b;
	font-style: italic;
	margin-bottom: 8px;
}
