.education-details .timeframe {
	padding-left: 2px;
	width: 140px;
	font-weight: 300;
}

.education-details .detail {
	font-size: 0.9rem;
	padding: 0 18px 0 4px;
}

.education-details .detail .institution {
	font-weight: 300;
	margin-bottom: 8px;
}
