.language-details .language {
	padding-left: 2px;
	font-weight: 300;
	font-size: 1.1rem;
	line-height: 1.1rem;
	width: 100px;
}

.language-details .level {
	margin-left: 12px;

	span {
		margin-right: 4px;
	}
}
